In [28]:
import pandas as pd
import numpy as np

In [29]:
columns = ["age", "workClass", "fnlwgt", "education", "education-num","marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [30]:
train_data = pd.read_csv('data/adult.data', names=columns, 
             sep=' *, *', na_values='?')
test_data  = pd.read_csv('data/adult.test', names=columns, 
             sep=' *, *', skiprows=1, na_values='?')

F:\programming\Anaconda\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

F:\programming\Anaconda\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [31]:
print(train_data.info(),test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workClass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workClass         15318 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education-num     16281 non-null int64
marital-status    16281 non-null object
occupation        15315 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital-gain      16281 non-null int64
capital-loss      16281 non-null int64
hours-per-week    16281 non-null int64
native-country    16007 non-null object
income            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB
None None

In [32]:
fill_mode = lambda col: col.fillna(col.mode())
#train_data = train_data.apply(fill_mode, axis=0)
#print(train_data['income'].mode())  Note that mode() basiclly return a Series instead of a simple value, use index
for column in train_data.columns:
    train_data[column].fillna(train_data[column].mode()[0], inplace=True)
for column in test_data.columns:
    test_data[column].fillna(test_data[column].mode()[0], inplace=True)
#test_data = test_data.apply(fill_mode, axis=0)

In [33]:
print(train_data.info(),test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workClass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workClass         16281 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education-num     16281 non-null int64
marital-status    16281 non-null object
occupation        16281 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital-gain      16281 non-null int64
capital-loss      16281 non-null int64
hours-per-week    16281 non-null int64
native-country    16281 non-null object
income            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB
None None

In [34]:
num_attributes = train_data.select_dtypes(include=['int64'])
num_attributes = num_attributes.columns
cat_attributes = train_data.select_dtypes(include=['object'])
cat_attributes = cat_attributes.columns

In [35]:
test_data['income'] = test_data['income'].str.replace('.','')
print(test_data)

       age     workClass  fnlwgt     education  education-num  \
0       25       Private  226802          11th              7
1       38       Private   89814       HS-grad              9
2       28     Local-gov  336951    Assoc-acdm             12
3       44       Private  160323  Some-college             10
4       18       Private  103497  Some-college             10
...    ...           ...     ...           ...            ...
16276   39       Private  215419     Bachelors             13
16277   64       Private  321403       HS-grad              9
16278   38       Private  374983     Bachelors             13
16279   44       Private   83891     Bachelors             13
16280   35  Self-emp-inc  182148     Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married  Machine-op-inspct       Own-child
1      Married-civ-spouse    Farming-fishing         Husband
2      Married-civ-spouse    Protective-serv         Husband
3      Married-civ-spouse  Machine-op-inspct         Husband
4           Never-married     Prof-specialty       Own-child
...                   ...                ...             ...
16276            Divorced     Prof-specialty   Not-in-family
16277             Widowed     Prof-specialty  Other-relative
16278  Married-civ-spouse     Prof-specialty         Husband
16279            Divorced       Adm-clerical       Own-child
16280  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   Black    Male             0             0              40
1                   White    Male             0             0              50
2                   White    Male             0             0              40
3                   Black    Male          7688             0              40
4                   White  Female             0             0              30
...                   ...     ...           ...           ...             ...
16276               White  Female             0             0              36
16277               Black    Male             0             0              40
16278               White    Male             0             0              50
16279  Asian-Pac-Islander    Male          5455             0              40
16280               White    Male             0             0              60

      native-country income
0      United-States  <=50K
1      United-States  <=50K
2      United-States   >50K
3      United-States   >50K
4      United-States  <=50K
...              ...    ...
16276  United-States  <=50K
16277  United-States  <=50K
16278  United-States  <=50K
16279  United-States  <=50K
16280  United-States   >50K

[16281 rows x 15 columns]

# Preprocessing

In [36]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
le = preprocessing.LabelEncoder()
scaler = StandardScaler()

total_data = pd.concat([train_data,test_data])
for col in cat_attributes:
    le.fit(total_data[col])
    total_data[col] = le.transform(total_data[col])

scaler.fit(total_data[num_attributes])
total_data[num_attributes] = scaler.transform(total_data[num_attributes])

train_data = total_data[:len(train_data)]
test_data = total_data[len(train_data):]

print(num_attributes)
print(total_data[num_attributes])


print(train_data)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')
            age    fnlwgt  education-num  capital-gain  capital-loss  \
0      0.025996 -1.061979       1.136512      0.146932     -0.217127
1      0.828308 -1.007104       1.136512     -0.144804     -0.217127
2     -0.046942  0.246034      -0.419335     -0.144804     -0.217127
3      1.047121  0.426663      -1.197259     -0.144804     -0.217127
4     -0.776316  1.408530       1.136512     -0.144804     -0.217127
...         ...       ...            ...           ...           ...
16276  0.025996  0.243884       1.136512     -0.144804     -0.217127
16277  1.849433  1.247492      -0.419335     -0.144804     -0.217127
16278 -0.046942  1.754865       1.136512     -0.144804     -0.217127
16279  0.390683 -1.001612       1.136512      0.587220     -0.217127
16280 -0.265754 -0.071174       1.136512     -0.144804     -0.217127

       hours-per-week
0           -0.034087
1           -2.213032
2           -0.034087
3           -0.034087
4           -0.034087
...               ...
16276       -0.356894
16277       -0.034087
16278        0.772930
16279       -0.034087
16280        1.579946

[48842 rows x 6 columns]
            age  workClass    fnlwgt  education  education-num  \
0      0.025996          6 -1.061979          9       1.136512
1      0.828308          5 -1.007104          9       1.136512
2     -0.046942          3  0.246034         11      -0.419335
3      1.047121          3  0.426663          1      -1.197259
4     -0.776316          3  1.408530          9       1.136512
...         ...        ...       ...        ...            ...
32556 -0.849254          3  0.640492          7       0.747550
32557  0.098933          3 -0.334178         11      -0.419335
32558  1.411808          3 -0.357510         11      -0.419335
32559 -1.213941          3  0.111984         11      -0.419335
32560  0.974183          4  0.930494         11      -0.419335

       marital-status  occupation  relationship  race  sex  capital-gain  \
0                   4           0             1     4    1      0.146932
1                   2           3             0     4    1     -0.144804
2                   0           5             1     4    1     -0.144804
3                   2           5             0     2    1     -0.144804
4                   2           9             5     2    0     -0.144804
...               ...         ...           ...   ...  ...           ...
32556               2          12             5     4    0     -0.144804
32557               2           6             0     4    1     -0.144804
32558               6           0             4     4    0     -0.144804
32559               4           0             3     4    1     -0.144804
32560               2           3             5     4    0      1.871315

       capital-loss  hours-per-week  native-country  income
0         -0.217127       -0.034087              38       0
1         -0.217127       -2.213032              38       0
2         -0.217127       -0.034087              38       0
3         -0.217127       -0.034087              38       0
4         -0.217127       -0.034087               4       0
...             ...             ...             ...     ...
32556     -0.217127       -0.195490              38       0
32557     -0.217127       -0.034087              38       1
32558     -0.217127       -0.034087              38       0
32559     -0.217127       -1.648120              38       0
32560     -0.217127       -0.034087              38       1

[32561 rows x 15 columns]

In [37]:
train_data_X = train_data.iloc[:,:-1]
train_data_Y = train_data.iloc[:,-1]
test_data_X = test_data.iloc[:,:-1]
test_data_Y = test_data.iloc[:,-1]
#train_data_Y = train_data.drop(train_data[:][-1], axis=1)

In [38]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(train_data_X, train_data_Y)
R = clf.predict(train_data_X)

F:\programming\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [39]:
train_accuracy = clf.score(train_data_X, train_data_Y)

In [40]:
test_accuracy = clf.score(test_data_X, test_data_Y)

In [41]:
print(train_accuracy,test_accuracy)

0.8244832775406161 0.825563540323076